= form_for(@poi, :html => { :multipart => true }) do |f|
  - if @poi.errors.any?
    .error_explanation
      %h4
        = pluralize(@poi.errors.count, "error")
        prohibited this poi from being saved:
      %ul
        - @poi.errors.full_messages.each do |msg|
          %li= msg

  .edit
    %p
      = f.label :name
      %br
      = f.text_field :name, :class => 'standard'

    %p
      = f.label :description
      %br
      = f.text_area :description, :class => 'standard'

    - if @poi.image?
      = image_tag @poi.image.url(:icon), :class => 'thumbnail left'

    %p
      = f.label :image
      %br
      = f.file_field :image, :class => 'file'

    %p
      = f.label :poi_category_id
      %br
      = f.select :poi_category_id, PoiCategory.all.collect {|c| [ c.name, c.id ] }, {:include_blank => false}, {:class => 'standard'}

    %p
      = f.label :url
      %br
      = f.text_field :url, :class => 'standard'
      
  .actions
    %p
      = f.submit
      or
      = link_to 'cancel', '#', :class => 'cancel'

    %p
      = f.label :lat
      = f.hidden_field :lat, :class => 'lat'
      %span.lat
        = @poi.lat
      %br
      = f.label :lng
      = f.hidden_field :lng, :class => 'lng'
      %span.lng
        = @poi.lng
